{
  "plugins": ["tailwindcss"],
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
    "plugin:tailwindcss/recommended",
    "prettier"
  ],
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "settings": {
    // Help eslint-plugin-tailwindcss to parse Tailwind classes outside of className
    "tailwindcss": {
      "callees": ["tw", "cva"]
    },
    "jest": {
      "version": 27
    }
  },
  "rules": {
    "no-console": "warn",
    "arrow-body-style": ["warn", "as-needed"],
    // tailwind
    "tailwindcss/no-custom-classname": [
      "warn",
      {
        "callees": ["tw", "cva"]
        // "whitelist": ["data\\-[.*?\\]:.*?"]
      }
    ],
    // @typescript-eslint
    // Note: you must disable the base rule as it can report incorrect errors
    "no-return-await": "off",
    "@typescript-eslint/return-await": ["error", "in-try-catch"],
    // Note: you must disable the base rule as it can report incorrect errors
    "require-await": "off",
    "@typescript-eslint/require-await": "error",
    "@typescript-eslint/await-thenable": "error",
    "@typescript-eslint/no-duplicate-imports": "error",
    "@typescript-eslint/consistent-type-imports": "error",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "all",
        "argsIgnorePattern": "^_",
        "destructuredArrayIgnorePattern": "^_",
        "ignoreRestSiblings": false
      }
    ],
    //import
    "import/no-cycle": "error",
    "import/no-unresolved": "error",
    "import/no-default-export": "warn",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "./app/root.tsx",
        "./app/entry.client.tsx",
        "./app/entry.server.tsx",
        "./app/routes/**/*.tsx"
      ],
      "rules": {
        "import/no-default-export": "off"
      }
    }
  ]
}
